nav.navBar
        li 
            a(href="http://localhost:7000") Home
        li 
            a(href="http://localhost:7000/tapList") Tap List
        li 
            a(href="http://localhost:7000/lunchM") Lunch Menu
        li 
            a(href="http://localhost:7000/dinnerM") Dinner Menu
        li 
            a(href="http://localhost:7000/contact") Contact Us
        li
            img(src="Images/logo.png", alt="")
        div.hours 
            p Hours:<br/> Tuesday - Saterday: 11am - 12am
        div.socialmedia
            a(href="https://www.zomato.com/cookeville-tn/father-toms-pub-cookeville") 
                img(src="Images/socialmedia/zomato.png", alt="Zomato")
            a(href="https://twitter.com/FatherTomsPub") 
                img(src="Images/socialmedia/twitter.png", alt="Twitter")
            a(href="https://untappd.com/v/father-toms-pub/341119")
                img(src="Images/socialmedia/untapped.png", alt="UnTapped")
            a(href="https://www.yelp.com/biz/father-toms-pub-cookeville")
                img(src="Images/socialmedia/yelp.png", alt="Yelp")
            a(href="https://www.facebook.com/FatherTomsPub/")
                img(src="Images/socialmedia/fBook.png", alt="Facebook")
            
            a(style="height: 14px; width: 14px;" href="http://localhost:7000/editor")
                img(src="Images/beard.png", alt="AdminPage")